@CHARSET "UTF-8";

html, body { /* se non metto html non funziona height*/
	height: 100%;
	width: 100%;
	background-color: #334f74;
	
	margin: 0px;
}

#map {
   	position:absolute;
	left:0.5%;
	top:15%;
	width:98.8%;
	height:75%;
	
    border: 2px solid #000;
 }	
 